html {
  background: #2B303A;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
}

h1 {
  font-size: 30px;
}


.banner {
  width: 45%;
  height: 120px;
  margin-bottom: 2em;
  padding: 2em;
  margin-right: auto;
  margin-left: auto;
  /*background-color: #1A2230;
	border-radius: 10px;*/
  text-align: center;
  color: #636B7B;
}

.banner-arrow{
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent; /* 40px height (20+20) */
    border-left: 20px solid #1A2230;
}
.banner h1 {
  font-size: 48px;
  font-weight: bold;
}

a.card, a:link.card, a:visited.card, a:hover.card, a:active.card {
  color: #444;
  font-size: 18px;
  text-decoration: none;
}

.flexbox{
  display: flex;
  flex-direction: row;
}

.notab {
	margin: 2em;
}

.tab {
  margin: 2em;
	margin-left: 6em;
}

div.card {
    width: 35%;
    height: 60%;
    min-width: 160px;
    min-height: 320px;
    text-align: center;
    border: 1px solid #FAFAFA;
    border-radius: 20px;
    background-color: #fae6be;
    padding: 2em;
    cursor: pointer;
}

div.card img {
  width: 150px;
  margin-right: auto;
  margin-left: auto;
}

div.card .column {
  margin-right: auto;
  margin-left: auto;
}

/*
div.card:after {
  content: "";
  display: table;
  clear: both;
} */


.gray {
  background-color: #808080 !important;
}



@media screen and (max-width: 750px) {
  div.card .column {
    width: 100%;
  }
}
