html {
  background: #8a9bc1;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  color: #444;
  display: grid;
  grid-template-rows: 30% 70%;
}

h1 {
  font-size: 30px;
}

.banner {
  box-shadow: 0 0 8px #44444494;
  background-color: #5e73a2;
  width: 65%;
  height: 120px;
  margin: auto;
  color: black;
  border-radius: 20px;
  text-align: center;
}

.banner h1 {
  font-size: 48px;
  font-weight: bold;
}

a.card, a:link.card, a:visited.card, a:hover.card, a:active.card {
  color: #444;
  font-size: 18px;
  text-decoration: none;
}

.flexbox{
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 65%;
}

.notab {
	margin: 2em;
}

.tab {
  margin: 2em;
	margin-left: 6em;
}

.anchor{
  margin: auto;
  display: block;
  width: 35%;
  height: 60%;
  min-width: 160px;
  min-height: 320px;
  text-decoration: none;
  color: black;
  text-align: center;
  /* border: 1px solid #FAFAFA; */
  border-radius: 20px;
  box-shadow: 0 0 12px #44444494;
  background-color: #5e73a2;
  padding: 2em;
  cursor: pointer;
}

a.anchor img {
  width: 150px;
  margin-right: auto;
  margin-left: auto;
}

a.anchor .column {
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
}

a.anchor.column .h1{
  font-size: 18px;
}

.gray {
  background-color: #808080 !important;
}



@media screen and (max-width: 750px) {
  a.anchor .column {
    width: 100%;
  }
  .flexbox{
    flex-wrap: wrap;
  }
}
