body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}

h1 {
  text-align: center;
  color: #333;
  font-weight: bold;
  font-size: 48px;
}

h2, div, p {
  color: #222;
  padding: 2px;
}


.banner {
  background-color: #00a0fa;
	border-radius: 10px;
  margin-bottom: 2em;
  padding: 2em;
}


.log {
  height: 400px;
  overflow: scroll;
  background-color: #f6f6f6;
  margin-bottom: 18px;
  color: #000;
}



/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  color: #222;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #000;
  float: right;
  margin-left: 5px;
}

.colorA {background-color: #00a0fa;}

.colorB {background-color: #ff825f;}

.colorC {background-color: #fae6be;}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.activeA, .colorA:hover {
  background-color: #0078bb;
}

.activeB, .colorB:hover {
  background-color: #c06147;
}

.activeC, .colorC:hover {
  background-color: #bbac8e;
}

.activeA:after, .activeB:after, .activeC:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #fae6be;
  overflow: hidden;
  max-height: 0;
  transition: max-height .5s ease;
}



/* Responsive stacking columns */
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  padding-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  padding-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
  
  
  
/* Style inputs, select elements and textareas */
input[type=text], select, textarea {
  width: 100%;
  color: #222;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

/* Style the label to display next to the inputs */
label {
  padding: 5px;
  color: #222;
  display: inline-block;
}

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

input[type=text]#numSims {
  width: auto;
}


/* style scroll to top button */
#topButton {
  display: none;
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #f00; 
  color: #fff; 
  cursor: pointer; 
  padding: 15px; 
  border-radius: 10px;
  font-size: 18px; 
}

#topButton:hover {
  background-color: #bf0000; 
}


/* combat log styles */
.num {
  color: #aa0a3c;
}

.skill {
  color: #0089a2;
}

.att {
  color: #00a0fa;
  font-weight: bold;
  /*-webkit-text-stroke: 1px black;*/
}

.def {
  color: #ff825f;
  font-weight: bold;
}

.logSeg {
  font-weight: bold;
}